@import 'bpk-tokens/tokens/base.default';
@import 'bpk-mixins/index';
@import 'bpk-stylesheets/base';
@import 'bpk-stylesheets/font';

@mixin container {
  max-width: $bpk-breakpoint-desktop;
  margin: 0 auto;
}

.App {
  text-align: center;

  &__header {
    padding: $bpk-spacing-lg * 2;
    background-color: $bpk-color-sky-blue;
    background-image: $bpk-primary-gradient;
    color: $bpk-color-white;

    @include bpk-box-shadow-sm;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-xl;
    }
  }

  &__header-inner {
    @include container;
  }

  &__main {
    padding: $bpk-spacing-xxl;
    @include container;
    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-base;
    }
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: $bpk-spacing-lg;
    }
  }

  &__heading {
    margin-bottom: $bpk-spacing-sm;
  }

  &__text {
    margin-bottom: $bpk-spacing-sm;
  }

  &__selected-date {
    margin-top: $bpk-spacing-base;
    font-weight: bold;
    color: $bpk-color-sky-blue;
  }
}

.App__calendar {
  margin: 20px auto;
  padding: $bpk-spacing-lg;
  background-color: #ffffff;
  border-radius: $bpk-border-radius-lg;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 400px;

  @include bpk-breakpoint-mobile {
    width: 100%;
    padding: $bpk-spacing-base;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
  }
}

.flight-card {
  margin: $bpk-spacing-lg auto;
  max-width: 400px;
  text-align: left;

  @include bpk-box-shadow-sm;
  border-radius: $bpk-border-radius-lg;
  background-color: $bpk-color-white;
  padding: $bpk-spacing-base;

  &:not(:last-child) {
    margin-bottom: $bpk-spacing-lg;
  }
}
